html{
	height: 100%;
}
body, .modal-content, .btn, html {
	background-image: -ms-radial-gradient(center top, circle closest-corner, #AD241A  -19%, #140502 100%);
	background-image: -moz-radial-gradient(center top, circle closest-corner, #AD241A  -19%, #140502 100%);
	background-image: -o-radial-gradient(center top, circle closest-corner, #AD241A  -19%, #140502 100%);
	background-image: -webkit-gradient(radial, center top, 0, center top, 486, color-stop(0, #AD241A ), color-stop(1, #140502));
	background-image: -webkit-radial-gradient(center top, circle closest-corner, #AD241A  -19%, #140502 100%);
	background-image: radial-gradient(circle closest-corner at center top, #AD241A  -19%, #140502 100%);
}

.btn{
	border: 1px solid #AD241A;
}

nav{
	margin-top: 50px;
	margin-bottom: 30px;
}

.nav.navbar-nav{
	float: right;
}

#hopeNavBar{
	border-bottom: 2px solid red;
}
 nav a{
	color: white;
	font-stretch: extra-expanded;
	text-shadow: 2px 2px black;
	transition: color 1s ease;
	outline: 0;
 }
 
 nav a.active{
	color: red !important;
	background: transparent !important;
	outline: 0;
 }
 
 nav a:hover{
	color: red;
	background: transparent !important;
	outline: 0;
 }
 
 .nav.navbar-nav a{
	font-size: 18px;
	outline: 0;
 }
 
 .navbar-brand, .navbar-brand a:hover{
	font-size: 40px;
	color: white !important;
	outline: 0;
 }
 
 .glyphicon{
	font-size: 40px;
	color: rgb(228, 25, 25);
	float: left;
	margin-right: 10px;
	margin-top: 5px;
 }
 
 h1{
	font-size: 130px;
	color: white;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
 }
 
h1.lastQuote{
	color: rgb(228, 25, 25);
	
}

.part{
	height: 175px;
	overflow: hidden;
	  -webkit-transition: all .5s ease;
	  -moz-transition: all .5s ease;
	  -o-transition: all .5s ease;
	  transition: all .5s ease;
}

.part h1{
	  -webkit-transition: all .5s ease;
	  -moz-transition: all .5s ease;
	  -o-transition: all .5s ease;
	  transition: all .5s ease;
		position: relative;
		top: 0px;
		bottom: 0px;
}

footer{
	margin-top: 200px;
}

footer p{
	color: rgb(200, 58, 58);
}

.reflected {
    position: relative;
}
.reflected:before, .reflected:after {
    display: block;
    position: absolute;
    bottom: -.8em; /* You should change this value to fit your font */
    left: 0;
    right: 0;
}
.reflected:before {
    content: 'WHO NEED IT';
    opacity: .2;
    -webkit-transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
	transform: scaleY(-1);
}

.two.reflected:before {
    content: 'TO OTHERS';
}

.three.reflected:before {
    content: 'MANY LIVES';
}

.reflected:after {
    /* Fading using CSS gradient */
    /* Don't forget to change the colors to your background color 
    background: -webkit-gradient(linear, left top, left center, from(rgba(255,255,255,0)), to(rgb(255,255,255)));
    background: -moz-linear-gradient(top, rgba(255,255,255,0), rgb(255,255,255));*/
    /* I left out the `filter` property,
       because IE doesn't know `:before` and `:after` pseudo-elements anyway */
    content: ' ';
    height: 1em;
}

.modal-header {
	border-bottom: 1px solid #B03B3B;
	color: white;
}

.modal-body{
	color: white;
}

.modal-dialog {
	width: 900px;
	margin: 190px auto;
}
 
h2{
	color: white;
	font-size: 35px;
}

.media-body{
	color: white;
	text-align: left;
}

.media-heading{
	color: rgb(200, 58, 58);
}

.thumbnail{
	background-color: transparent;
	border: none;
}

.thumbnail p{
	color: white;
}

h3{
	color: rgb(200, 58, 58);
	
}

.media img{
	width: 64px;
	height: 64px;
}

footer button{
	float: right;
	margin-left: 10px;
}

.comp h2{
	text-align: left;
}

.donations img{
	width: inherit;
	height: inherit;
}

.donations .media-body, .donations p{
	text-align: left;
	color: white;
}

#map-canvas {
	width: 500px;
	height: 400px;
}

.input-group{
	width: 100%;
}